body{
    min-height:100vh;
}
:root{
   --primary-color: #3D5E7C;
   --secondary-color:#c0bbbb;
}
  .topimg{
    width: 100%;
    height: 400px;
}  
@media (max-width: 600px) {
    .topimg{
        width: 100%;
        height: 200px;
    }
}
.setting{
   height:450px;
}
@media (max-width: 600px) {
    .setting{
      
        height: 250px;
    }
}
 
 /* .startingwh{
    width: 880px;
    height: 300px;
 }
 .startingwh2{
    width: 630px;
    height: 500px;
 }
 .startingwh3{
    width: 500px;
    height: 300px;
    margin-right: 800px;
    
} */
   .custom{
      background-color:var(--primary-color);
   }
   .custom1{
      color: var(--primary-color);
   }
   .customs{
      color: var(--secondary-color);
   }
 .grid-container{
    width:100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
 }
 .grid-item:nth-child(1){
    grid-column:1/4;
    color: rgb(222, 220, 220);
    /* background-color: aqua; */
 }
 .wdi{
    color: rgb(208, 204, 204);
 }
 .grid-item:nth-child(2){
    grid-column: 4/6;
    grid-row:1/3;
    /* background-color: blue; */

 }
 /* .aiimg{
    width: 300px;
    height: 400px;
 } */

 .aiimg {
    width: 200px;
    height: 300px;
}

/* Small screens */
@media (max-width: 600px) {
    .aiimg {
        width: 100px;
        height: 200px;
    }
}
 .grid-item:nth-child(3){
    grid-column: 1/4;
    /* background-color: brown; */
 }
 .btn{
   width: 190px;
   height: 50px;
   color: rgb(224, 222, 222);
   border-radius: 10px;
 }
 .minbtn{
   width: 130px;
   height: 35px;
   padding: 1px;
   color: rgb(229, 225, 225);
   border-radius: 8px;

 }
 .btn:hover{
   color: rgb(229, 228, 228);
 border: 2px solid black;
 background-color:#3D5E7C;
 }
 .boxs{
   width: 300px;
   height: 200px;
 }
 .profileai{
   transition:transform 5s linear;
 }
 .profileai:hover{
   transform: rotateY(360deg);
 }
 .aiimg1{
    width: 300px;
    height: 410px;

 }
 .pwdi{
   text-align: justify;
 }
.progress-bar{
   background-color: var(--primary-color);
}
.edusection{
   width: 200px;
   height: 160px;
}
.minbtn2{
    width: 100px;
   height: 42px;
   color: rgb(229, 225, 225);
   border-radius: 8px;

 }